* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.v text eol=lf
*.vh text eol=lf
*.sv text eol=lf
*.vhd text eol=lf
*.vhdl text eol=lf
*.xdc text eol=lf
*.tcl text eol=lf
*.coe text eol=lf
*.asm text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf

*.pdf binary
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
